*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.about{
    width: 100%;
    padding: 96px 0px;
    /* height: 900px; */
    /* background-color: white; */

}
.about-container{
    width: 85%;
    display: flex;
    flex-direction: column;
   margin: auto;
   /* background-color: red; */
   position: relative;
   /* margin-top: 30px; */
}
.about-cont{
    width: 50%;
    /* background-color: green; */
    display: flex;
    margin-bottom: 100px;
}
.about-cont:nth-child(n){
    flex-direction: row-reverse;
    text-align: right;
}
.about-cont:nth-child(2n){
    margin-left: auto;
    flex-direction: row;
    text-align: left;
}
.picture{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid darkgrey;
}
.picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.text{
    width: 70%;
}
.end .picture{
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.end{
    margin-bottom: 0;
}
.end .picture h4{
    line-height: 26px;
    font-size: 18px;
}
.about-cont:nth-child(n) .picture{
    /* margin-left: 85px; */
    margin-right: -85px;
}
.about-cont:nth-child(2n) .picture{
    margin-left: -85px;
    margin-right: 0px;
}
.about-cont:nth-child(n) .text{
    padding: 20px;
}
.border{
    width: 2px;
    height: 100%;
    margin: auto;
    background-color: darkgrey;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
/* 
.hppicture{
    width: 50%;
    display: flex;
    
    flex-direction: row-reverse;
    margin-bottom: 100px;
   
}




.picture{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #e9ecef;
}
.picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.text{
    width: 330px;
    height: 205px;
    padding: 0px 20px 20px 100px;
}




.text h4{
    text-align: right;
    margin: 0px 0px 8px;
    font-size: 1.5rem;font-weight: 700;
    line-height: 1.2;
}
.text p{
    line-height: 1.75;
    font-family:"Roboto Slab" serif; 
    
}


.hppicture2{
    width: 50%;
    display: flex;
   margin: auto;
    flex-direction: row;
    margin-bottom: 100px;
    margin-left: 465px;
}
.picture2{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #e9ecef;
}
.picture2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.text2{
    width: 330px;
    height: 205px;
    padding: 0px 20px 20px 100px;
}

.line{
    width: 2px;
    background-color:  #e9ecef;
    height: 900px;
    margin: auto;
    
}
    */
